[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User={{ user }}
Group=www-data
WorkingDirectory=/home/{{ user }}/{{ site_title }}
ExecStart=/home/{{ user }}/{{ site_title }}/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/{{ user }}/{{ site_title }}/{{ site_title }}.sock {{ site_title }}.wsgi:application

[Install]
WantedBy=multi-user.target